* {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    -webkit-user-select: text;
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    align-items: center;
    background: radial-gradient(
                    ellipse at center,
                    rgba(255, 255, 255, 1) 0%,
                    rgba(229, 229, 229, .85) 100%
    );
    background-position: center;
    display: flex;
    font-family: Lato, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    margin: 0;
    padding: 0;
}

.hint {
    font-size: 12px;
    color: #bbb;
}