$hint-color: #bbb;

* {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    -webkit-user-select: text;
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    align-items: center;
    background: radial-gradient(
                    ellipse at center,
                    rgba(255, 255, 255, 1) 0%,
                    rgba(229, 229, 229, .85) 100%
    );
    background-position: center;
    display: flex;
    font-family: Lato, Helvetica, sans-serif;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.hint {
    font-size: 12px;
    color: $hint-color;
}

// 业务CSS
.pane.pane-fix {
    flex: none;
    width: 400px;
}

.items {
    list-style: none;
    text-align: left;

    > li {

        .title {
            font-size: 16px;
            font-weight: bold;
            text-align: left;
            line-height: 20px;
            margin-bottom: 10px;
        }

        .summary {
            font-size: 12px;
            color: #999;
            line-height: 16px;
            margin-bottom: 10px;
        }

        .sources {
            li {
                display: block;
                cursor: pointer;
                font-size: 10px;

                > span {
                    cursor: pointer;
                }

                .filter {
                    margin-right: 10px;
                    color: #2aa7f0;
                }

                .l-source {
                    color: $hint-color;
                }
            }
            > li:hover {

                .l-title {
                    text-decoration: underline;
                }

                .l-source {
                    text-decoration: underline;
                }

            }
        }
    }
}

